.pageContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1em;

    section {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 1000px;
        height: fit-content;
        justify-content: center;
        gap: 1em;

        .header {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: fit-content;
            border: 1px solid #363636;
            border-radius: 5px;
            padding: 2em 3em;

            .imageContainer {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                width: fit-content;
                height: auto;
                flex: 1 1 30%;
                justify-content: center;
                align-items: center;
            }

            .descriptionContainer {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                width: fit-content;
                height: 300px;
                flex: 1 1 70%;
                padding: 4em 2em;

                .insideDescription {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    width: fit-content;
                    height: fit-content;
                    gap: 1em;

                    .name {
                        font-size: 30pt;
                    }

                    .bio {
                        font-size: 12pt;
                        font-weight: 300;
                    }
                }
            }

            img {
                position: relative;
                width: 100%;
                height: fit-content;
                object-fit: cover;
                border-radius: 50%;
                width: 200px;
                height: 200px;
                border: 1px solid #222;
            }
        }

        .container {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: fit-content;
            border: 1px solid #363636;
            border-radius: 5px;
            padding: 2em 3em;

            .newPhoto {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 100%;
                height: fit-content;

                h3 {
                    font-size: 15pt;
                    text-align: left;
                    font-weight: 400;
                    color: #999;
                }

                form {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    height: fit-content;
                    margin: 1em 0;
                    gap: .5em;

                    label {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        height: fit-content;
                        gap: 2px;

                        span {
                            font-size: 12pt;
                        }
                    }

                    input {
                        position: relative;
                        display: flex;
                        width: 100%;
                        height: fit-content;
                        border: 1px solid #555;
                        border-radius: 5px;
                        background-color: #3b3b3b;
                        padding: .8em 1em;
                        font-size: 12pt;
                        color: #fff;
                    }

                    input::placeholder {
                        color: #aaa;
                    }

                    .btnSubmit {
                        background-color: #0094f6;
                        color: #fff;
                        font-size: 14pt;
                        font-weight: 600;
                        padding: .5em;
                        margin-top: .5em;

                        &:disabled {
                            background-color: #000;
                        }
                    }

                    .btnCancelPost {
                        background-color: #0094f6;
                        color: #fff;
                        font-size: 14pt;
                        font-weight: 600;
                        padding: 0.5em;
                        background-color: #c70000 !important;
                        position: relative;
                        display: flex;
                        width: 100%;
                        height: fit-content;
                        border: 1px solid #555;
                        border-radius: 5px;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
                }
            }
        }

        .userPhotos {
            position: relative;
            display: flex;
            width: 100%;
            height: fit-content;
            gap: 0;

            .newPostContainer {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                width: 300px;
                height: 300px;
                flex: 0 1 300px;
                overflow: hidden;
                gap: 5px;
                background-color: #363636;
                border: none;
                border-right: 2.5px solid #121212;
                border-left: 2.5px solid #121212;
                border-top: 2.5px solid #121212;
                border-bottom: 2.5px solid #121212;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                svg {
                    font-size: 40pt;
                }
            }


            .photo {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                width: fit-content;
                height: fit-content;
                flex: 0 1 300px;
                overflow: hidden;
                gap: 5px;
                background-color: #363636;
                border: none;
                border-right: 2.5px solid #121212;
                border-left: 2.5px solid #121212;
                border-top: 2.5px solid #121212;
                border-bottom: 2.5px solid #121212;

                &:hover .actions>button {
                    opacity: .7;
                    transition: all .2s ease-in-out;
                    visibility: visible;
                }

                img {
                    position: relative;
                    display: flex;
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                }

                .actions {
                    position: absolute;
                    display: flex;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: fit-content;
                    padding: .5em;
                    gap: .5em;

                    button {
                        position: relative;
                        display: flex;
                        visibility: hidden;
                        width: fit-content;
                        height: fit-content;
                        border: none;
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;
                        border-radius: 5px;
                        padding: .5em;
                        opacity: 0;
                        transition: all .2s ease-in-out;

                        &.delete {
                            background-color: #c70000 !important;
                        }

                        &.edit {
                            background-color: #0094f6 !important;
                        }

                        svg {
                            font-size: 20pt;
                        }

                        &:hover {
                            opacity: 1;
                        }
                    }
                }

            }
        }

        .editPhoto {
            position: fixed;
            display: flex;
            width: 100%;
            height: 100%;
            gap: 0;
            z-index: 999;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .7);
            justify-content: center;
            align-items: center;

            .editPhotoInside {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: fit-content;
                height: fit-content;
                background: #222;
                border: 1px solid #363636;
                border-radius: 5px;
                padding: 2em 3em;
                max-height: none !important;

                .editImage {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 500px;
                    height: 500px;
                    object-fit: cover;
                    border-radius: 5px;
                }

                p {
                    font-size: 15pt;
                    text-align: left;
                    font-weight: 400;
                    color: #999;
                    margin-bottom: .5em;
                }

                form {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    width: 100%;
                    height: fit-content;
                    margin: 1em 0;
                    gap: .5em;

                    label {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        height: fit-content;
                        gap: 2px;

                        span {
                            font-size: 12pt;
                        }
                    }

                    input {
                        position: relative;
                        display: flex;
                        width: 100%;
                        height: fit-content;
                        border: 1px solid #555;
                        border-radius: 5px;
                        background-color: #3b3b3b;
                        padding: .8em 1em;
                        font-size: 12pt;
                        color: #fff;
                    }

                    input::placeholder {
                        color: #aaa;
                    }

                    .btnEditCancel {
                        position: relative;
                        display: flex;
                        width: 100%;
                        height: fit-content;
                        border: 1px solid #555;
                        border-radius: 5px;
                        background-color: #c70000;
                        color: #fff;
                        font-size: 14pt;
                        font-weight: 600;
                        padding: .5em;
                        text-align: center;
                        justify-content: center;
                        align-items: center;

                        &:disabled {
                            background-color: #000;
                        }
                    }

                    .btnSubmit {
                        background-color: #0094f6;
                        color: #fff;
                        font-size: 14pt;
                        font-weight: 600;
                        padding: .5em;
                        margin-top: .5em;

                        &:disabled {
                            background-color: #000;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    section {
        .descriptionContainer {
            height: fit-content !important;
            padding: 2em !important;

            .insideDescription {
                width: 100% !important;
                justify-content: center !important;
                align-items: center !important;

                .name {
                    display: flex !important;
                    text-align: center !important;
                    justify-content: center !important;
                }
            }
        }

        .editImage {
            max-width: 100% !important;
            height: 50% !important;
        }

        .actions {
            button {
                opacity: 1 !important;
                visibility: visible !important;
            }
        }

        .userPhotos {
            justify-content: center !important;
        }
    }
}