.message {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    padding: .5em 1em;

    p{
        font-weight: 400;
    }
}

.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;

    p {
        color: #721c24;
    }
}

.success {
    background-color: #d4edda;
    border-color: #c3e6cb;

    p {
        color: #155724;
    }
}