nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid #7d7d7d;
    justify-content: space-between;
    align-items: center;
    padding: .7em 5em;
    row-gap: 1em;

    .logo {
        position: relative;
        display: flex;
        width: fit-content;
        height: 50px;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            font-size: 25pt;
            font-weight: 700;
        }
    }

    .menuMobile {
        position: relative;
        display: flex;
        width: fit-content;
        height: fit-content;

        button {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15pt;
            border: 1px solid #222;
            color: #fff;
            padding: .5em 1em;
            border-radius: 5px;
            text-decoration: none;
            gap: 5px;
            cursor: pointer;
            background-color: transparent;

            svg {
                font-size: 20pt;
            }

            &.activeMobile {
                display: flex;
            }
        }
    }

    .divMobileNav {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        height: fit-content;
        gap: 1em;
    }

    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        height: fit-content;
        align-items: center;
        gap: 1em;

        .navMobile {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: fit-content;
            height: fit-content;
            gap: 1em;
        }

        form {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: fit-content;
            height: 50px;

            input {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                width: 250px;
                height: auto;
                background-color: #3b3b3b;
                border: none;
                border-radius: 5px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                color: #fff;
                padding: .3em 1em;
                font-size: 12pt;
            }

            input::placeholder {
                color: #aaa;
            }

            button {
                position: relative;
                display: flex;
                width: fit-content;
                height: 100%;
                padding: 1em;
                color: #222;
                background-color: #3b3b3b;
                border-radius: 5px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border: none;
                justify-content: center;
                align-items: center;

                svg {
                    font-size: 20pt;
                }
            }
        }

        ul {
            position: relative;
            display: flex;
            width: fit-content;
            height: 50px;
            justify-content: center;
            align-items: center;
            gap: 10px;

            li {
                position: relative;
                display: flex;
                list-style: none;
                height: 100%;

                a,
                span {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15pt;
                    border: 1px solid #222;
                    color: #fff;
                    padding: .5em 1em;
                    border-radius: 5px;
                    text-decoration: none;
                    gap: 5px;
                    cursor: pointer;

                    p {
                        font-size: 12pt;
                    }
                }

                .register {
                    background-color: rgb(115, 157, 115);
                    border-color: rgb(115, 157, 115);
                    color: #fff;
                }

                .logout {
                    background-color: red;
                    border-color: red;
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    nav {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        display: none !important;
    }

    .divMobileNav {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .menuMobile {
        margin-left: auto !important;
    }

    .divMobileNav {
        justify-content: center;
        align-items: center;
    }
}