@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
    color: #fafafa;
}

body {
    background-color: #000;
}

button,
a,
input[type='submit'] {
    cursor: pointer;
    text-decoration: none;
}

section {
    max-width: 100%;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 173px);
    height: fit-content;
    padding: 1em 5em;
}

.siteName {
    font-family: "Pacifico", cursive;
    font-weight: 500;
}

.hide {
    display: none !important;
}

.scroll-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.activeMobile {
    display: flex;
}

.navbar-mobile {
    position: fixed !important;
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    height: 100vh !important;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 999;

    form {
        margin: auto !important;
    }

    .navbar-mobile-container {
        height: 80% !important;
        width: 80% !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
        justify-content: space-between !important;
        align-items: center !important;
        gap: 1em 1em !important;
        margin: auto !important;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 1em !important;
    }

}